@charset "UTF-8";  /* Versão Mobile*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

header{
    display: flex;
    justify-content: space-between;
}

main{
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

#logoyoutube{
    margin: 6px;
    flex-basis:100px;
}

#iconesyoutube{
    display: flex;
    align-items: center;
}

#iconesyoutube a{
    color: black;
    padding: 10px;
}

#botaomenu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#botaomenu span{
    margin: 5px;
    padding: 5px;
    color: white;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
}

#botaomenu span:hover{
    transition: .5s;
    color: black;
    background-color: lightgray;
}

#botaomenu a{
    flex: 0 1 auto;
    margin: 5px;
    padding: 8px;
    color: white;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
}

#botaomenu a:hover{
    transition: .5s;
    color: black;
    background-color: lightgray;
}

.video{
    padding: 27%;
    position: relative;
    margin: 10px auto 0px;
}

.video iframe{
    top: 5%;
    left: 5%;
    width: 90%;
    height: 87%;
    position: absolute;
    border-radius: 20px;
}

.descrição{
    height: 80px;
    display: flex;
    margin: -15px 30px;
}

.descrição img{
    top: 10px;
    width: 50px;
    height: 50px;
    margin: 5px;
    display: block;
    position: relative;
    border-radius: 30px;
}

.descrição h3{
    font-family:Arial, Helvetica, sans-serif;
    flex-basis: 300px;
    align-self: flex-start;
}

.descrição  p{
    flex: auto;
    display: flex;
    flex-basis: 400px;
}

.texto{
    flex-basis: 300px;
    align-self: center;
}
