@charset "UTF-8";  /* Versão Mobile*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

header{
    display: flex;
    justify-content: space-between;
}

main{
    width: 100vw;
    height: 100vh;
}

#logoyoutube{
    margin: 6px;
    flex-basis:100px;
}

#menuyoutube{
    display: flex;
    margin: 5px;
    align-items: center;
}

#menuyoutube a{
    color: rgb(0, 0, 0);
    padding: 10px;
}

#botaomenu{
    display: flex;
    align-items: center;
}

#botaomenu span{
    margin: 5px;
    padding: 5px;
    color: white;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
}

#botaomenu span:hover{
    transition: .5s;
    color: black;
    background-color: lightgray;
}

#botaomenu a{
    margin: 5px;
    padding: 8px;
    color: white;
    border-radius: 7px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
}

#botaomenu a:hover{
    transition: .5s;
    color: black;
    background-color: lightgray;
}

.video{
    position: relative;
    padding: 25%;
    margin: 30px -10px;
}

.video iframe{
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    position: absolute;
}

.descrição{
    width: 90%;
    height: 80px;
    margin: -40px auto 10px auto;
}

.descrição img{
    top: 10px;
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
    border-radius: 30px;
}

.descrição h3{
    top: -40px;
    left: 70px;
    position: relative;
    flex-basis: 2000px;
}

.descrição p{
    left: 70px;
    top: -35px;
    display: flex;
    width: 140px;
    position: relative;
}